///<reference path="../../../../node_modules/dexcms-core/dexcms.core.client/sass/_variables.scss">

$alerts-icon-color: $cError !default;
$alerts-border-color: $cError !default;
$alerts-background-color: #FFF !default;
$alerts-title-font-family: $ffTwo !default;